lxml==4.6.3
Brotli==1.0.9
numpy==1.20.2
pandas==1.2.3
cfscrape==2.1.1
cryptography==35.0.0
Cython==0.29.24
docutils==0.18
eth==0.0.1
eth_hash==0.3.2
eth_typing==2.2.2
eth_utils==1.10.0
hexbytes==0.2.2
importlib_metadata==4.8.1
keyring==23.2.1
lockfile==0.12.2
monotonic==1.6
ordereddict==1.1
protobuf==3.19.1
pymongo==3.12.1
pyOpenSSL==21.0.0
tornado==6.1
web3==5.24.0
wincertstore==0.2
zipp==3.6
